---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { BellIcon, CheckIcon } from "@radix-ui/react-icons"
 
import { cn } from "@/lib/utils"
import { Button } from "@/components/ui/button"
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"

import PortfolioCarousel from "@/components/PortfolioCarousel";


---

<BaseLayout
  title="Store"
  description="Maciej Plonka portfolio design"
>
<div class="grid grid-flow-col justify-evenly">
<Card className={cn("w-[20vw]")}>
  <CardHeader>
    <CardTitle>300$</CardTitle>
    <CardDescription>You have 3 unread messages.</CardDescription>
  </CardHeader>
  <CardContent className="grid gap-4">
    <div class=" flex items-center space-x-4 rounded-md border p-4">
      <BellIcon />
      <div class="flex-1 space-y-1">
        <p class="text-sm font-medium leading-none">
          Push Notifications
        </p>
        <p class="text-sm text-muted-foreground">
          Send notifications to device.
        </p>
      </div>
    </div>
    <div>
  
    </div>
  </CardContent>
  <CardFooter>
    <Button className="w-[20vw]">
      <CheckIcon className="mr-2 h-4 w-4" /> Mark all as read
    </Button>
  </CardFooter>
</Card>

<Card className={cn("w-max")}>
  <CardHeader>
    <CardTitle>800$</CardTitle>
    <CardDescription>You have 3 unread messages.</CardDescription>
  </CardHeader>
  <CardContent className="grid gap-4">
    <div class=" flex items-center space-x-4 rounded-md border p-4">
      <BellIcon />
      <div class="flex-1 space-y-1">
        <p class="text-sm font-medium leading-none">
          Push Notifications
        </p>
        <p class="text-sm text-muted-foreground">
          Send notifications to device.
        </p>
      </div>
    </div>
    <div>
  
    </div>
  </CardContent>
  <CardFooter>
    <Button className="w-[20vw]">
      <CheckIcon className="mr-2 h-4 w-4" /> Mark all as read
    </Button>
  </CardFooter>
</Card>

<Card className={cn("w-max")}>
  <CardHeader>
    <CardTitle>100%</CardTitle>
    <CardDescription>You have 3 unread messages.</CardDescription>
  </CardHeader>
  <CardContent className="grid gap-4">
    <div class=" flex items-center space-x-4 rounded-md border p-4">
      <BellIcon />
      <div class="flex-1 space-y-1">
        <p class="text-sm font-medium leading-none">
          Push Notifications
        </p>
        <p class="text-sm text-muted-foreground">
          Send notifications to device.
        </p>
      </div>
    </div>
    <div>
  
    </div>
  </CardContent>
  <CardFooter>
    <Button className="w-[20vw]">
      <CheckIcon className="mr-2 h-4 w-4" /> Mark all as read
    </Button>
  </CardFooter>
</Card>
</div>

<PortfolioCarousel client:load />

</BaseLayout>
